
.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -40px 40px #000;
}

.profile{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 48px;
}
.profile__foto{
    filter: grayscale();
}
.profile__text{
    font-size: 2.25rem;
   
}
.profile__name{
    font-size: 4rem;
    color: var(--primary-color);
}
/* TABLET */
@media (max-width:960px){
    .profile{
        flex-direction: column;
        margin-top: 260px;
        margin-bottom: 260px;
    }
    .profile__infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* MOBILE */
@media (max-width:640px){
   
}