:root{
    --primary-color:#FEDC00;
    --icon-color: #252525;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;
}
header{
    grid-area: content;
    place-self: start center;
    height: 100px;
    z-index: 25;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-burguer{
    display: none;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    grid-area: content;
}
section{
    height: 100vh;
    
}

footer{
    grid-area: content;
    place-self: end center;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    border-top: 2px solid #fff;
    font-size: .75rem;

}

/* TABLET */

@media (max-width: 960px) {
    header {
        width: 80%;
        flex-direction: row-reverse;
    }
    .logo {
        gap: 16px;
    }
    .menu-itens{
        display: none;
    }
    .menu-burguer{
        display: inline
    }
    
    .main{
        /* height: 150%; */
        width: 150%;
    }
  
}

/* MOBILE */
@media (max-width:640px){
   main{
   height: 100%;
   width: 100%;

   }
}